@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


//GERAL

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body p{
    font-size: 25px;
    font-weight: 400;
}

//CABEÇALHO GERAL

header {
    width: 100%;
    height: 118px;
    display: flex;
    padding: 30px;
    align-items: center;
    text-transform: uppercase;
    background-color: #FF69B4;
    justify-content: space-between;
}

// PARTE ESQUERDA

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo p {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
}

header .logo img {
    width: 80px;
    height: 80px;
    margin: 0 40px 0 20px;
}

// MENU

.menu ul {
    width: 800px;
    display: flex;
    padding: 40px;
    margin: 0 20px;
    font-size: 28px;
    font-weight: 300;
    justify-content: space-between;
}

.menu ul a {
    color: #FFFFFF;
}

// MAIN PARTE 1

.outrosa1 {
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #FFD9EC;
    justify-content: space-between;

}

.outrosa1 .texto {
    width: 900px;
    margin: 0 0 0 40px;
}

.outrosa1 img {
    width: 365px;
    height: 355px;
    margin: 0 100px;
}

.outrosa1 img:hover {
    transform: scale(1.025);
}

// MAIN PARTE 2

.outrosa2 {
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #FF69B4;
    justify-content: space-between;
}

.outrosa2 .texto {
    width: 800px;
    color: #FFFFFF;
    margin: 0 100px;
}

.outrosa2 img {
    width: 421px;
    height: 234px;
    margin-left: 40px;
}

.outrosa2 img:hover {
    transform: scale(1.025);
}

// MAIN DICAS

.recomendacoes {
    height: 426px;
    display: flex;
    align-items: center;
    background-color: #FFD9EC;
}

.recomendacoes ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recomendacoes img {
    height: 250px;
    margin: 60px;
}

.recomendacoes img:hover {
    transform: scale(1.025);
}

//FOOTER GERAL

footer {
    height: 143px;
    display: flex;
    color: #FFFFFF;
    background-color: #FF69B4;
}

// FOOTER REDES SOCIAIS

.icones {
    margin: 40px;
    display: flex;
}

.icones ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.icones ul li {
    margin: 0 8px;
}

.icones ul li img {
    width: 56px;
}

.icones ul li img:hover {
    transform: scale(1.025);
}

// FOOTER INFORMAÇÕES

.infos {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.infos .desc {
    width: 800px;
    margin: 40px;
    display: block;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.infos p {
    font-size: 20px;
    text-align: center;
}

.infos a {
    color: #FFFFFF;
}

// FOOTER LADO ESQUERDO

.infos .fita {
    right: 0;
    margin: 0 10px;
    width: 105px;
    height: 109px;
    position: absolute; 
}

.infos .fita:hover {
    transform: scale(1.025);    
}